apiVersion: v1
kind: Service
metadata:
  name: my-ex-review-service
  labels:
    app: my-ex-review-service
spec:
  type: ClusterIP
  ports:
    - port: 3005
      targetPort: 3005
      protocol: TCP
      name: http
  selector:
    app: my-ex-review-service
